<h1>Books detail</h1>
  <%= link_to current_user.name, books_path(current_user) %>
  
  <td>
    <%= link_to book_path(@book.id) do %>
    <%= @book.title %>
    <% end %>
  </td>
  <td><%= @book.body %></td>
